# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea
# .vscode/

bin
/shared/pkg/openapi/order/v1/oas_cfg_gen.go
/shared/pkg/openapi/order/v1/oas_client_gen.go
/shared/pkg/openapi/order/v1/oas_handlers_gen.go
/shared/pkg/openapi/order/v1/oas_interfaces_gen.go
/shared/pkg/openapi/order/v1/oas_json_gen.go
/shared/pkg/openapi/order/v1/oas_labeler_gen.go
/shared/pkg/openapi/order/v1/oas_middleware_gen.go
/shared/pkg/openapi/order/v1/oas_operations_gen.go
/shared/pkg/openapi/order/v1/oas_parameters_gen.go
/shared/pkg/openapi/order/v1/oas_request_decoders_gen.go
/shared/pkg/openapi/order/v1/oas_request_encoders_gen.go
/shared/pkg/openapi/order/v1/oas_response_decoders_gen.go
/shared/pkg/openapi/order/v1/oas_response_encoders_gen.go
/shared/pkg/openapi/order/v1/oas_router_gen.go
/shared/pkg/openapi/order/v1/oas_schemas_gen.go
/shared/pkg/openapi/order/v1/oas_server_gen.go
/shared/pkg/openapi/order/v1/oas_unimplemented_gen.go
/shared/pkg/openapi/order/v1/oas_validators_gen.go
/shared/pkg/proto/inventory/v1/inventory.pb.go
/shared/pkg/proto/inventory/v1/inventory_grpc.pb.go
/shared/pkg/proto/payment/v1/payment.pb.go
/shared/pkg/proto/payment/v1/payment_grpc.pb.go
